In [2]:
import numpy as np
import pandas as pd

In [3]:
#sring 
country =['india','pak','usa','nepal','lanka']
pd.Series(country)

0    india
1      pak
2      usa
3    nepal
4    lanka
dtype: object

In [4]:
# integr
marks =[67,59,32,78]
sub =['A','B','C','D']
pd.Series(marks,index=sub)

A    67
B    59
C    32
D    78
dtype: int64

In [5]:
# setting  a name
pd.Series(marks,index=sub,name="My marks")

A    67
B    59
C    32
D    78
Name: My marks, dtype: int64

In [15]:
# Series from dict
marks={
    'A' :1,
    'B':2,
    'C' :3,
    }
marks_series=pd.Series(marks,name="My marks")
marks_series

A    1
B    2
C    3
Name: My marks, dtype: int64

In [7]:
# size
marks_series.size

3

In [8]:
# dtype
marks_series.dtype

dtype('int64')

In [16]:
# name
marks_series.name

'My marks'

In [17]:
# is unique
marks_series.is_unique

True

In [18]:
# index
marks_series.index

Index(['A', 'B', 'C'], dtype='object')

In [19]:
# values
marks_series.values

array([1, 2, 3], dtype=int64)